@import "tailwindcss";
body {
  background-color: #f8f9fa;
}

@keyframes animatedBox {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.animated {
  animation: animatedBox 3s infinite;
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-button:single-button,
::-webkit-scrollbar-button:vertical:decrement,
::-webkit-scrollbar-button:vertical:increment,
::-webkit-scrollbar-button:horizontal:decrement,
::-webkit-scrollbar-button:horizontal:increment {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #e2d8b7 !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #c5ba97 !important;
}

