@import "tailwindcss";
body{
  background-color: #f8f9fa;
}

@keyframes animatedBox {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}

.animated{
  animation: animatedBox 3s infinite;
}